// FONTS
$font-default: OpenSans, Arial, Helvetica, sans-serif;

// COLORS
$white: #ffffff;
$brown: #937f7a;
$gray: #646464;
$gray--light: #937f7a;
$purple: #734089;
$purple-light: #956e90;
$purple--dark: #765474;
$purple--deep-dark: #4b334c;
$purple--black: #2f292f;
$blue--dark: #155e8b;
$peach: #e4705b;
$peach--light: #fececd;
$peach--dark: #e87561;

// COLORS ITEM
$background-color: $white;
$nav-link: $brown;
$logo: $purple;
$picture-link: $peach;
$title: $purple--dark;
$plan-text: $purple--deep-dark;
$artist-name: $gray;
$footer-color: $purple--black;