.content-block {
    display: flex;
    align-items: center;

    min-width: 460px;
}

.content-block__container,
.content-block__container-list {
    max-width: 300px;

    margin: 0;
    margin-left: 11px;
    margin-top: -20px;
}

.content-block__name {
    @include font-picture__subtitle--review;
    color: $title;
}

.content-block__desc {
    @include font-plan__text;
    color: $title;
    margin: 0;
    margin-top: 8px;

}