.feature-nav {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature-nav__title {
    @include main-heading;

    margin: 0;
    margin-top: 23px;
    margin-right: 25px;
}

.feature-nav__item {
    text-decoration: none;
    color: $feature-link;
    @include font-nav;

    max-width: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &--left {
        right: 35px;
        top: 16px;


        &::before {
        content: url('../img/common/arrow__link--left-menu.svg');

        margin-right: 20px;
    }
}

    &--right {
        left: 14px;
        top: 16px;
        &::after {
            content: url('../img/common/arrow__link--right-menu.svg');

            margin-left: 20px;
        }
    }
}