.feature-nav {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature-nav__title {
    @include main-heading;
}

.feature-nav__item {
    text-decoration: none;
    color: $feature-link;

    max-width: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    &--left::before {
        content: url('../img/review/arrow__link--left.svg');

        margin-right: 20px;
    }

    &--right::after {
        content: url('../img/review/arrow__link--right.svg');

        margin-left: 20px;
    }
}