.list-action__name {
    border-bottom: 1px dotted $title;
    width: fit-content;
    width: -moz-fit-content;

    @include font-plan__text;
    color: $title;

    cursor: pointer;
}

.list-action__item {
    @include font-footer__link;
    color: $title;
}

.list-action__name:focus~.drop-down,
.list-action__name:active~.drop-down,
.drop-down:hover {
    display: block;
}