.list-action__name {
	border-bottom: 1px dotted $title;
	width: fit-content;

	@include font-plan__text;
	color: $title;

	cursor: pointer;
}

.list-action__item {
	@include font-footer__link;
	color: $title;
}