.artists {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 940px;

	margin: 0 auto;

	padding-left: 10px;
	padding-right: 10px;
}

.artists__headline {
	@include main-heading;
}