.plan-content__text {
    margin: 0;

    @include font-plan__text;
    color: $plan-text;

    max-width: 160px;

    text-align: center;

    &--coffee::before {
        content: url('../img/index/planworks__img--1.png');
    }

    &--list::before {
        content: url('../img/index/planworks__img--2.png');
    }

    &--love::before {
        content: url('../img/index/planworks__img--3.png');
    }

    &--ring::before {
        content: url('../img/index/planworks__img--4.png');
    }
}