.slider-artists {
    max-width: 1000px;

    margin: 0;
    padding: 0;
}

.slider-artists__item {
	
}

.slider-artists .slick-next,
.slider-artists .slick-prev {
    width: 28px;
    height: 28px;

    top: 108px;
}

.slider-artists .slick-next::before {
    content: url('../img/sprite/sprite.svg#index--slider-artists__img--arrow-right');
}

.slider-artists .slick-prev::before {
    content: url('../img/sprite/sprite.svg#index--slider-artists__img--arrow-left');
}