@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBold Italic';
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans Regular", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  min-width: 1200px;
  box-sizing: border-box;
}

body:after {
  padding-bottom: 6px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/common/shadow.png);
  width: 100%;
  height: 95px;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrap-header {
  padding-bottom: 6px;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.nav-list__item {
  margin-right: 30px;
}

.nav-list__link {
  font-family: 'Open Sans Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #937f7a;
  text-decoration: none;
}

.nav-list__link--active {
  padding-bottom: 18px;
  border-bottom: 4px solid #734089;
}

.logo {
  margin: 0;
  margin-right: auto;
}

.logo__link {
  font-family: 'Open Sans ExtraBold Italic';
  font-size: 43px;
  font-weight: 800;
  line-height: 48px;
  color: #734089;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-phone__text {
  font-family: 'Open Sans Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #937f7a;
  margin: 0;
}

.contact-phone__number {
  font-family: 'Open Sans Bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-right: 25px;
}

.contact-phone__uppercase {
  font-family: 'Open Sans Bold';
  font-size: 25px;
  font-weight: 700;
  line-height: 21px;
}

.contact-phone__number,
.contact-phone__uppercase {
  color: #937f7a;
}

.contact-phone__text {
  margin-right: 30px;
}

.contact-phone__img {
  margin-right: 10px;
}

.main-picture {
  width: 100%;
  height: auto;
  background-image: url("../img/index/main-picture.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: relative;
}

.main-picture::after {
  content: '';
  position: absolute;
  margin-top: 10px;
  background: url(../img/index/shadow__main-picture.jpg);
  width: 100%;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: -1;
}

.content-picture {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.content-picture__headline {
  font-family: 'Open Sans ExtraBold Italic';
  font-size: 77px;
  font-weight: 800;
  line-height: 61px;
  color: #734089;
  text-transform: uppercase;
  margin: 0;
  margin-top: 75px;
}

.content-picture__subtitle {
  font-family: 'Open Sans ExtraBold';
  font-size: 19px;
  font-weight: 800;
  line-height: 21px;
  color: #734089;
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
}

.content-picture__desc {
  font-family: 'Open Sans Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 320px;
  margin: 0;
  margin-bottom: 35px;
  margin-top: 23px;
}

.content-picture__link {
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #ffffff;
  background-color: #e4705b;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 155px;
  border-radius: 3px;
}

.content-picture__link:hover {
  background-color: #e87561;
  transition: all 0.3s;
}

.content-picture__link:active {
  background-color: #e87561;
  color: #cf7578;
  -webkit-box-shadow: inset 0 5px 0 0 #e4705b;
  box-shadow: inset 0 5px 0 0 #e4705b;
}

.content-picture__link:focus {
  border: 1px solid #fff;
  outline: none;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.portfolio--works {
  margin-bottom: 25px;
}

.portfolio__title {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  margin-top: 50px;
  margin-right: 30px;
  margin-bottom: 18px;
}

.portfolio__link {
  background-color: #e4705b;
  color: #ffffff;
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  padding-left: 106px;
  padding-right: 106px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 26px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio__link:hover {
  background-color: #e87561;
  transition: all 0.3s;
}

.portfolio__link:active {
  background-color: #e87561;
  color: #cf7578;
  -webkit-box-shadow: inset 0 5px 0 0 #e4705b;
  box-shadow: inset 0 5px 0 0 #e4705b;
}

.portfolio__link:focus {
  border: 1px solid #fff;
  outline: none;
}

.portfolio-container {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 22px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-right: 20px;
  margin-top: 16px;
}

.work-list__item:nth-of-type(3n) {
  margin: 0;
}

.card {
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-card {
  position: relative;
}

.content-card__img {
  display: block;
}

.content-card:hover {
  overflow: hidden;
}

.content-card:hover .content-hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(123, 107, 126, 0.7);
}

.content-hover {
  display: none;
}

.content-hover__headline,
.content-hover__name {
  font-family: 'Open Sans Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
}

.content-hover__desc {
  font-family: 'Open Sans Semibold';
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  max-width: 250px;
  text-align: center;
}

.content-hover__link {
  box-shadow: 0 1px 0 0 rgba(244, 150, 136, 0.25), 0 -1px 0 0 rgba(252, 190, 184, 0.25), 1px 0 0 0 rgba(244, 150, 136, 0.25), -1px 0 0 0 rgba(252, 190, 184, 0.25), 1px -1px 0 0 rgba(248, 170, 160, 0.5), -1px 1px 0 0 rgba(248, 170, 160, 0.5), 1px 1px 0 0 rgba(240, 130, 111, 0.75), -1px -1px 0 0 rgba(255, 209, 208, 0.75);
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #ffd1d0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  text-decoration: none;
}

.content-hover__link--works {
  margin-top: 16px;
}

.content-hover__link:hover {
  background-color: #e87561;
  transition: all 0.3s;
}

.content-hover__link:active {
  background-color: #e87561;
  color: #cf7578;
  -webkit-box-shadow: inset 0 5px 0 0 #e4705b;
  box-shadow: inset 0 5px 0 0 #e4705b;
}

.content-hover__link:focus {
  border: 1px solid #fff;
  outline: none;
}

.main-footer {
  background-color: #2f292f;
}

.main-footer__wrap {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.footer-nav .nav-list__link {
  color: #ffffff;
}

.footer-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.footer-list__item {
  margin-right: 36px;
}

.footer-list__link {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.social-list__item {
  margin-right: 25px;
}

.social-list__img {
  fill: #937f7a;
}

.social-list__link:hover .social-list__img {
  fill: #155e8b;
  transition: all 0.5s;
}

.visually-hidden {
  display: none;
}

.plan {
  background-image: url("../img/index/planworks__img--main.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  text-transform: uppercase;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 41px;
  margin-right: 23px;
}

.plan-map {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.plan-list {
  list-style-type: none;
  margin: 0;
  margin-right: 31px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.plan-list__item {
  display: flex;
  align-items: center;
}

.plan-list__item::after {
  content: url("../img/index/arrow-plan.png");
  position: relative;
  top: -15px;
  left: 10px;
}

.plan-list__item:last-child::after {
  display: none;
}

.plan-content__text {
  margin: 0;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #4b334c;
  max-width: 160px;
  text-align: center;
}

.plan-content__text--coffee::before {
  content: url("../img/index/planworks__img--1.png");
}

.plan-content__text--list::before {
  content: url("../img/index/planworks__img--2.png");
}

.plan-content__text--love::before {
  content: url("../img/index/planworks__img--3.png");
}

.plan-content__text--ring::before {
  content: url("../img/index/planworks__img--4.png");
}

.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 45px;
}

.artists__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  margin: 0;
  margin-top: 46px;
  margin-right: 30px;
  margin-bottom: 9px;
}

.artists .slick-track {
  display: flex;
}

.slider-artists {
  max-width: 1000px;
  margin: 0;
  padding: 0;
}

.slider-artists .slick-next,
.slider-artists .slick-prev {
  width: 28px;
  height: 28px;
  top: 108px;
}

.slider-artists .slick-next::before {
  content: url("../img/sprite/sprite.svg#index--slider-artists__img--arrow-right");
}

.slider-artists .slick-prev::before {
  content: url("../img/sprite/sprite.svg#index--slider-artists__img--arrow-left");
}

.content-slide {
  height: auto;
}

.content-slide__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content-slide__specialty {
  margin: 0;
  text-align: center;
}

.denotation-artist__name,
.denotation-artist__surname {
  margin: 0;
  color: #646464;
  text-align: center;
}

.denotation-artist__name {
  font-family: 'Open Sans Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.denotation-artist__surname {
  font-family: 'Open Sans Italic';
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.question {
  width: 100%;
  background: linear-gradient(rgba(142, 104, 139, 0.7), rgba(142, 104, 139, 0.7)), url("../img/index/question-form__img--background.jpg");
}

.question__wrap {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-right: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.question__subtitle {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  margin-top: 11px;
  margin-right: 21px;
}

.question-form {
  min-width: 300px;
  margin-right: 27px;
  margin-top: 38px;
}

.question-form--review {
  margin-top: 28px;
}

.question-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.question-form__line {
  margin: 0;
  margin-bottom: 15px;
}

.question-form__input {
  border-radius: 3px;
  border: none;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.question-form__input:hover,
.question-form__input:focus,
.question-form__input:active {
  outline: 4px solid #e4705b;
  transition: all 0.3s;
}

.question-form__input::placeholder {
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #646464;
}

.question-form__btn {
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #ffffff;
  background-color: #e4705b;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin-bottom: 45px;
}

.question-form__btn:hover {
  background-color: #e87561;
  transition: all 0.3s;
}

.question-form__btn:active {
  background-color: #e87561;
  color: #cf7578;
  -webkit-box-shadow: inset 0 5px 0 0 #e4705b;
  box-shadow: inset 0 5px 0 0 #e4705b;
}

.question-form__btn:focus {
  border: 1px solid #fff;
  outline: none;
}

.presentation {
  background-image: url("../img/works/main-picture__img--works.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.presentation--review {
  background-image: url("../img/review/main-picture__review.jpg");
  z-index: 1;
}

.presentation--review::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 145px;
  background: url(../img/index/shadow__main-picture.jpg);
  width: 100%;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: -1;
}

.presentation__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 83px;
}

.presentation__wrap--review {
  margin-right: 52px;
}

.presentation__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.content-presentation__headline,
.content-presentation__subtitle,
.content-presentation__desc {
  margin: 0;
}

.content-presentation__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin-top: 50px;
  text-transform: uppercase;
}

.content-presentation__subtitle {
  font-family: 'Open Sans Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 21px;
  color: #f3b8ad;
  margin-top: 30px;
}

.content-presentation__desc {
  max-width: 320px;
  color: #ffffff;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 15px;
}

.content-presentation__desc--works {
  margin-top: 9px;
}

.content-presentation__sprite {
  margin-top: 45px;
}

.content-presentation__sprite--review {
  margin-top: 92px;
}

.presentation__item--review .content-presentation__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  margin-top: 91px;
  margin-bottom: 33px;
}

.presentation__item--review .content-presentation__subtitle {
  color: #e4705b;
  margin-top: 0;
}

.presentation__item--review .content-presentation__desc {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #4b334c;
  max-width: 350px;
}

.service-container {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 40px;
  padding-bottom: 27px;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service-list__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.service-list__item:nth-of-type(2n) {
  margin-right: 0;
}

.service-content {
  width: 460px;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.service-content--wedding-key {
  background-image: url("../img/service/service__img.png");
}

.service-content--sentence {
  background-image: url("../img/service/service__img--1.png");
}

.service-content--party {
  background-image: url("../img/service/service__img--2.png");
}

.service-content--travel {
  background-image: url("../img/service/service__img--3.png");
}

.service-content--anniversary {
  background-image: url("../img/service/service__img--4.png");
}

.service-content--other {
  background-image: url("../img/service/service__img--5.png");
}

.service-content__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.service-content__desc {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  max-width: 340px;
  text-align: center;
}

.service-content__link {
  box-shadow: 0 1px 0 0 rgba(244, 150, 136, 0.25), 0 -1px 0 0 rgba(252, 190, 184, 0.25), 1px 0 0 0 rgba(244, 150, 136, 0.25), -1px 0 0 0 rgba(252, 190, 184, 0.25), 1px -1px 0 0 rgba(248, 170, 160, 0.5), -1px 1px 0 0 rgba(248, 170, 160, 0.5), 1px 1px 0 0 rgba(240, 130, 111, 0.75), -1px -1px 0 0 rgba(255, 209, 208, 0.75);
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #ffd1d0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  border-radius: 3px;
  text-decoration: none;
}

.service-content__link:hover {
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #ffffff;
  background-color: #e4705b;
}

.service-content__link:active {
  background-color: #e87561;
  color: #cf7578;
  -webkit-box-shadow: inset 0 5px 0 0 #e4705b;
  box-shadow: inset 0 5px 0 0 #e4705b;
}

.service-content__link:focus {
  border: 1px solid #fff;
  outline: none;
}

.review {
  display: flex;
  flex-direction: column;
}

.review__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  text-align: center;
  margin: 0;
  margin-top: 53px;
  margin-right: 8px;
}

.review__headline--video {
  margin: 0;
  margin-top: 16px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.feedback {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 35px;
}

.feedback--video {
  flex-direction: column;
}

.feedback__wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 57px;
}

.feedback__img {
  margin-left: -7px;
  margin-right: 10px;
  align-self: baseline;
}

.feedback__wishes--video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.content-wishes__title {
  font-family: 'Open Sans Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 21px;
  color: #765474;
  margin: 0;
  margin-bottom: 55px;
}

.content-wishes__blockquote {
  font-family: 'Open Sans Italic';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #646464;
  margin: 0;
  margin-top: 28px;
  max-width: 700px;
}

.content-wishes__quote::before {
  content: url("../img/review/quotes.png");
  position: relative;
  top: 3px;
  float: left;
  padding-right: 10px;
}

.content-wishes__quote::after {
  content: url("../img/review/quotes.png");
  position: relative;
  top: 18px;
  padding-left: 10px;
}

.content-wishes__quote--video::before {
  content: url("../img/review/quote-white.png");
}

.content-wishes__quote--video::after {
  content: url("../img/review/quote-white.png");
}

.content-wishes__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  background-color: #e4705b;
  margin-top: 35px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
  color: #ffffff;
}

.content-wishes__text {
  margin: 0;
  margin-left: 10px;
}

.about {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.about__wrap {
  background-color: #ffffff;
}

.about__wrap--color {
  background-color: #fdf8f4;
}

.about__item {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: row;
}

.about .content-block--review {
  display: flex;
  align-items: flex-start;
}

.content-block__wrap-content {
  display: flex;
  flex-direction: column;
  margin-left: -6px;
  margin-top: -6px;
}

.content-block__wrap-content--order {
  order: -1;
  margin-left: 0;
  margin-right: 20px;
}

.content-block__img {
  margin-right: 25px;
}

.content-block__title {
  font-family: 'Open Sans Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 21px;
  color: #765474;
  margin: 0;
  margin-bottom: 28px;
}

.content-block__text {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.content-block__text::after {
  content: url("../img/review/decoration__img.png");
  margin-top: 20px;
}

.about-slider {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}

.about-slider .slick-next,
.about-slider .slick-prev {
  width: 28px;
  height: 28px;
}

.about-slider .slick-prev {
  left: -35px;
}

.about-slider .slick-next::before {
  content: url("../img/sprite/sprite.svg#index--slider-artists__img--arrow-right");
}

.about-slider .slick-prev::before {
  content: url("../img/sprite/sprite.svg#review--arrow__link--left");
}

.bankroll {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}

.bankroll__headline {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  margin-right: 7px;
}

.bankroll__wrap {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.bankroll__item {
  margin-bottom: 21px;
}

.container-table {
  width: 48%;
  padding-top: 7px;
}

.dotted {
  width: 100%;
  vertical-align: bottom;
}

.content-cell {
  padding: 0;
}

.content-cell__color {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 40%;
  margin-right: 12px;
}

.content-cell__color--tomato {
  background-color: #f54a42;
}

.content-cell__color--pink-dirty {
  background-color: #f0826f;
}

.content-cell__color--pink {
  background-color: #ffd1d0;
}

.content-cell__color--pink-soft {
  background-color: #eb9fc5;
}

.content-cell__color--crimson {
  background-color: #e54b97;
}

.content-cell__color--eggplant {
  background-color: #755671;
}

.content-cell__color--eggplant-dark {
  background-color: #4b334c;
}

.content-cell__color--emerald {
  background-color: #60dccf;
}

.content-cell__name {
  font-family: 'Open Sans Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #755671;
  margin: 0;
  padding-right: 5px;
}

.content-cell__border {
  line-height: 1ex;
  display: inline-block;
  width: 100%;
  border-bottom: 1px dotted;
}

.content-cell__price {
  font-family: 'Open Sans Light';
  font-size: 20px;
  font-weight: 300;
  line-height: 21px;
  color: #755671;
  padding-left: 5px;
}

.diagram {
  margin: 0;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-feedback {
  width: 100%;
  background-color: #ffd1d0;
}

.container-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 6px;
}

.container-link__item {
  max-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd1d0;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.container-link__item--left::before {
  content: url("../img/sprite/sprite.svg#review--arrow__link--left");
  margin-right: 20px;
}

.container-link__item--right::after {
  content: url("../img/sprite/sprite.svg#review--arrow__link--right");
  margin-left: 20px;
}

.feature-nav {
  width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feature-nav__title {
  font-family: 'Open Sans Semibold';
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  color: #734089;
  margin: 0;
  margin-top: 23px;
  margin-right: 25px;
}

.feature-nav__item {
  text-decoration: none;
  color: #f3b8ad;
  font-family: 'Open Sans Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  max-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.feature-nav__item--left {
  right: 35px;
  top: 16px;
}

.feature-nav__item--left::before {
  content: url("../img/sprite/sprite.svg#review--arrow__link--left");
  margin-right: 20px;
}

.feature-nav__item--right {
  left: 14px;
  top: 16px;
}

.feature-nav__item--right::after {
  content: url("../img/sprite/sprite.svg#review--arrow__link--right");
  margin-left: 20px;
}

.container-accordion {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 1040px;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.accordion__desc {
  font-family: 'Open Sans Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #765474;
  margin: 0;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 27px;
}

.accordion-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.accordion-list__item {
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 50px;
}

.accordion-list__item:nth-child(2n) {
  margin-right: 0;
}

.content-block {
  display: flex;
  align-items: center;
  min-width: 460px;
}

.content-block__container,
.content-block__container-list {
  max-width: 300px;
  margin: 0;
  margin-left: 11px;
  margin-top: -20px;
}

.content-block__name {
  font-family: 'Open Sans Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #765474;
}

.content-block__desc {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #765474;
  margin: 0;
  margin-top: 8px;
}

.drop-down {
  display: none;
}

.list-action__name {
  border-bottom: 1px dotted #765474;
  width: fit-content;
  font-family: 'Open Sans Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #765474;
  cursor: pointer;
}

.list-action__item {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #765474;
}

.list-action__name:focus ~ .drop-down,
.list-action__name:active ~ .drop-down,
.drop-down:hover {
  display: block;
}
