// Light
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-Light.woff') format('woff');
src: url('../fonts/OpenSans-Light.ttf') format('truetype'),
url('../fonts/OpenSans-Light.eot'),
url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype');
font-weight: 300;
font-style: normal;
}

// Regular
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-Regular.woff') format('woff');
src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
url('../fonts/OpenSans-Regular.eot'),
url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
font-weight: 400;
font-style: normal;
}

// Italic
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-Italic.woff') format('woff');
src: url('../fonts/OpenSans-Italic.ttf') format('truetype'),
url('../fonts/OpenSans-Italic.eot'),
url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype');
font-weight: 400;
font-style: italic;
}

// Semibold
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
url('../fonts/OpenSans-SemiBold.eot'),
url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype');
font-weight: 600;
font-style: normal;
}

// Bold
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-Bold.woff') format('woff');
src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
url('../fonts/OpenSans-Bold.eot'),
url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
font-weight: 700;
font-style: normal;
}

// ExtraBold
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-ExtraBold.woff') format('woff');
src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
url('../fonts/OpenSans-ExtraBold.eot'),
url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype');
font-weight: 800;
font-style: normal;
}

//  ExtraBold Italic
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
url('../fonts/OpenSans-ExtraBoldItalic.eot'),
url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
font-weight: 800;
font-style: italic;
}