body {
    font-family: $font-default;
    background-color: $background-color;
    min-width: 1200px;
    box-sizing: border-box;
}

body:after {
    padding-bottom: 10px;
    content: '';
    position: absolute;
    background: url(../img/common/shadow.png);
    width: 100%;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: 1;

    top: 60px;
    left: 0;
}