@mixin font-nav {
	font-size: 18px;
	font-weight: 400;
	line-height: 45px;
}

@mixin font-logo {
	font-size: 43px;
	font-weight: 800;
	font-style: italic;
	line-height: 36px;
}

@mixin font-tel__bold {
	font-size: 18px;
	font-weight: 700;
	line-height: 45px;
}

@mixin font-tel__uppercase {
	font-size: 25px;
	font-weight: 700;
	line-height: 45px;
}

@mixin font-picture__headline {
	font-size: 77px;
	font-weight: 800;
	font-style: italic;
	line-height: 65px;
}

@mixin font-picture__subtitle {
	font-size: 19px;
	font-weight: 800;
	line-height: 69px;
}

@mixin font-picture__desc {
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
}

@mixin font-picture__link {
	font-size: 14px;
	font-weight: 300;
	line-height: auto;
}

@mixin font-title {
	font-size: 28px;
	font-weight: 600;
	line-height: 72px;
}

@mixin font-hover__headline {
	font-size: 18px;
	font-weight: 600;
	line-height: auto;
}

@mixin font-hover__desc {
	font-size: 14px;
	font-weight: 600;
	line-height: auto;
}

@mixin font-plan__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

@mixin font-artists__name {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

@mixin font-artists__surname {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: 20px;
}

@mixin font-question__headline {
	font-size: 28px;
	font-weight: 600;
	line-height: 40px;
}

@mixin font-footer__link {
	font-size: 14px;
	font-weight: 400;
	line-height: auto;
}

@mixin font-picture__subtitle--review {
	font-size: 22px;
	font-weight: 400;
	line-height: 45px;
}

@mixin font-sprite {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 45px;
}

@mixin font-wishes__title {
	font-size: 22px;
	font-weight: 400;
	line-height: 45px;
}

@mixin font-wishes__blockquote {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	line-height: 24px;
}

@mixin font-table__name {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

@mixin font-table__price {
	font-size: 20px;
	font-weight: 300;
	line-height: auto;
}

@mixin font-order__item {
	font-size: 16px;
	font-weight: 300;
	line-height: auto;
}

@mixin font-block__desc {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

@mixin font-action__item {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

@mixin main-heading {
	font-size: 28px;
	font-weight: 600;
	line-height: 72px;

	color: #734089;
}