// FONTS
$font-default: 'Open Sans',
Arial,
Helvetica,
sans-serif;

// COLORS
$white: #ffffff;
$brown: #937f7a;
$dust: #7b6b7e;
$gray: #646464;
$gray--light: #937f7a;
$green: #50c878;
$purple: #734089;
$purple-light: #956e90;
$purple--dark: #765474;
$purple--deep-dark: #4b334c;
$purple--black: #2f292f;
$blue--dark: #155e8b;
$peach: #e4705b;
$peach--light: #fececd;
$peach--soft: #f3b8ad;
$peach--dark: #e87561;
$cream: #fdf8f4;
$pink: #ffd1d0;
$pink--dirty: #f0826f;
$pink--soft: #eb9fc5;
$tomato: #f54a42;
$crimson: #e54b97;
$eggplant: #755671;
$eggplant--dark: #4b334c;
$emerald: #60dccf;
$purple-shadow: rgba(137, 122, 140, 0.3);
$purple-shadow--dark: rgba(123, 107, 126, 0.7);
$purple-shadow--light: rgba(142, 104, 139, 0.7);
$old-peach: #ee6051;
$ripe-peach: #e8715c;

// COLORS ITEM
$background-color: $white;
$shadow-card: $purple-shadow;
$content-hover: $purple-shadow--dark;
$background-question: $purple-shadow--light;
$nav-link: $brown;
$logo: $purple;
$picture-link: $peach;
$title: $purple--dark;
$plan-text: $purple--deep-dark;
$hover-works: $dust;
$hover-icon: $blue--dark;
$artist-name: $gray;
$feature-link: $peach--soft;
$background-drop: $cream;
$color-gradient: $pink--dirty;
$quotes: $pink;
$footer-color: $purple--black;
$color-tomato: $tomato;
$color-pink-soft: $pink--soft;
$color-crimson: $crimson;
$color-eggplant: $eggplant;
$color-eggplant--dark: $eggplant--dark;
$color-emerald: $emerald;
$valid-color: $green;
$invalid-color: $pink--dirty;