.about {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.about__wrap {
    background-color: $background-color;

    &--color {
        background-color: $background-drop;
    }
}

.about__item {
    @include width-content;

    padding-top: 25px;
    padding-bottom: 42px;

    display: flex;
    flex-direction: row;
}