.about-slider {
	@include width-content;
}

.about-slider .slick-next,
.about-slider .slick-prev {
	width: 28px;
	height: 28px;
}

.about-slider .slick-prev {
	left: -35px;
}

.about-slider .slick-next::before {
	content: url('../img/index/slider-artists__img--arrow-right.svg');
}

.about-slider .slick-prev::before {
	content: url('../img/index/slider-artists__img--arrow-left.svg');
}