.about-slider {
    @include width-content;
}

.about-slider .slick-next,
.about-slider .slick-prev {
    width: 28px;
    height: 28px;
}

.about-slider .slick-prev {
    left: -35px;
}

.about-slider .slick-next::before {
    content: url('../img/sprite/sprite.svg#index--slider-artists__img--arrow-right');
}

.about-slider .slick-prev::before {
    content: url('../img/sprite/sprite.svg#review--arrow__link--left');
}