.bankroll {
    @include width-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bankroll__headline {
    @include main-heading;
}

.bankroll__wrap {
    width: inherit;

    display: flex;
    justify-content: space-around;
}