.about .content-block--review {
    display: flex;
    align-items: flex-start;
}

.content-block__wrap-content {
    display: flex;
    flex-direction: column;

    margin-left: -6px;
    margin-top: -6px;

    &--order {
        order: -1;

        margin-left: 0;
        margin-right: 20px;
    }
}

.content-block__img {
    margin-right: 25px;
}

.content-block__title {
    @include font-wishes__title;
    color: $title;

    margin: 0;

    margin-bottom: 28px;
}

.content-block__text {
    @include font-plan__text;
    color: $artist-name;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
}

.content-block__text::after {
    content: url('../img/review/decoration__img.png');

    margin-top: 20px;

}