.content-wishes__title {
    @include font-wishes__title;
    color: $title;

    margin: 0;
    margin-bottom: 60px;
}

.content-wishes__blockquote {
    @include font-wishes__blockquote;
    color: $artist-name;

    margin: 0;

}

.content-wishes__quote::before {
    content: url('../img/review/quotes.png');

    position: relative;
    top: 3px;
    float: left;
    padding-right: 10px;
}

.content-wishes__quote::after {
    content: url('../img/review/quotes.png');

    position: relative;
    top: 18px;
    padding-left: 10px;
}

.content-wishes__quote--video::before {
    content: url('../img/review/quote-white.png');
}

.content-wishes__quote--video::after {
    content: url('../img/review/quote-white.png');
}

.content-wishes__button {

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 3px;

    background-color: $picture-link;

    margin-top: 20px;


    padding: 15px;

    text-decoration: none;
    text-transform: uppercase;

    @include font-picture__link;
    color: $background-color;
}

.content-wishes__text {
    margin: 0;

    margin-left: 10px;
}