.container-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;

    padding-bottom: 25px;
}

.container-link__item {
    max-width: 190px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $quotes;
    @include font-plan__text;

    &--left::before {
        content: url('../img/sprite/sprite.svg#review--arrow__link--left');

        margin-right: 20px;
    }

    &--right::after {
        content: url('../img/sprite/sprite.svg#review--arrow__link--right');

        margin-left: 20px;
    }
}