.container-link {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;

	padding-bottom: 25px;
}



.container-link__item {
	max-width: 190px;
	
	color: $quotes;
	@include font-plan__text;
}
