.feedback {
	display: flex;
	flex-direction: row;

	max-width: 940px;
	margin: 0 auto;

	padding-right: 10px;
	padding-left: 10px;

	display: flex;
	flex-direction: row;
}

.feedback__wishes {
	margin-left: 20px;
}