.feedback {
    display: flex;
    flex-direction: row;

    @include width-content;

    margin-top: 35px;

    &--video {
        flex-direction: column;
    }
}

.feedback__wrap {
    display: flex;
    flex-direction: row;

    margin-bottom: 60px;
}

.feedback__img {
    margin-left: -7px;
    margin-right: 10px;
}

.feedback__wishes {

    &--video {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
}