.review {
    display: flex;
    flex-direction: column;
}

.review__headline {
    @include main-heading;
    text-align: center;

    margin: 0;
    margin-top: 53px;
    margin-right: 8px;

    &--video {
        margin: 0;
        margin-top: 16px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
}