.content-card {
	position: relative;
}

.content-card:hover {
	overflow: hidden;
}

.content-card:hover .content-hover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;

	left: 0;
	top: 0;

	height: 300px;
	width: 100%;

	background-color: rgba(123, 107, 126, 0.7);
}
