// Works
.content-presentation__headline,
.content-presentation__subtitle,
.content-presentation__desc {
    margin: 0;
}

.content-presentation__headline {
    @include font-title;
    color: $background-color;

    margin-top: 50px;
}

.content-presentation__subtitle {
    @include font-wishes__title;
    color: $feature-link;

    margin-top: 35px;
}

.content-presentation__desc {
    max-width: 320px;
    color: $background-color;
    @include font-plan__text;

    margin-top: 15px;
}

.content-presentation__sprite {
    margin-top: 40px;
}

// Review
.presentation__item--review .content-presentation__headline {
    @include main-heading;
    margin-top: 100px;
    margin-bottom: 40px;
}

.presentation__item--review .content-presentation__subtitle {
    color: $picture-link;
}

.presentation__item--review .content-presentation__desc {
    @include font-plan__text;
    color: $plan-text;

    max-width: 350px;
}