// Works
.content-presentation__headline,
.content-presentation__subtitle,
.content-presentation__desc {
    margin: 0;
}

.content-presentation__headline {
    @include font-title;
    color: $background-color;

    margin-top: 50px;

    text-transform: uppercase;
}

.content-presentation__subtitle {
    @include font-wishes__title;
    color: $feature-link;

    margin-top: 30px;
}

.content-presentation__desc {
    max-width: 320px;
    color: $background-color;
    @include font-plan__text;

    margin-top: 15px;

    &--works {
        margin-top: 9px;
    }
}

.content-presentation__sprite {
    margin-top: 45px;

    &--review {
        margin-top: 92px;
    }
}

// Review
.presentation__item--review .content-presentation__headline {
    @include main-heading;
    margin-top: 91px;
    margin-bottom: 33px;
}

.presentation__item--review .content-presentation__subtitle {
    color: $picture-link;
    margin-top: 0;
}

.presentation__item--review .content-presentation__desc {
    @include font-plan__text;
    color: $plan-text;

    max-width: 350px;
}