.main-footer {
    background-color: $footer-color;
}

.main-footer__wrap {
    @include width-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 11px;
    padding-bottom: 11px;
}