.nav-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	max-width: 380px;
}

.nav-list__item {
	margin-right: 30px;
}

.nav-list__link {
	color: $nav-link;
	text-decoration: none;
	@include font-nav;
}