.portfolio {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 37px;

    &--works {
        margin-bottom: 25px;
    }
}

.portfolio__title {
    @include main-heading;

    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 18px;
}

.portfolio__link {
    background-color: $picture-link;
    color: $background-color;

    @include font-picture__link;

    padding-left: 106px;
    padding-right: 106px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin-right: 26px;

    border-radius: 3px;

    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        @include hover-link;
    }

    &:active {
        @include active-link;
    }

    &:focus {
        @include focus-link;
    }
}