.presentation {
	background-image: url("../img/works/main-picture__img--works.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.presentation__wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.presentation__item--works {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	padding-left: 10px;
	padding-right: 10px;

	margin: 0 auto;
	max-width: 940px;
}