.question-form {
    min-width: 300px;

    margin-right: 27px;
    margin-top: 38px;

    &--review {
        margin-top: 28px;
    }
}

.question-form__fieldset {
    border: none;

    display: flex;
    flex-direction: column;

    padding: 0;
}

.question-form__line {
    margin: 0;
    margin-bottom: 15px;
}

.question-form__input {
    border-radius: 3px;
    border: none;

    width: 95%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.question-form__input:valid:not(:placeholder-shown) {
    outline: 2px solid $valid-color;
}

.question-form__input:invalid:not(:placeholder-shown) {
    outline: 2px solid $invalid-color;
}

.question-form__input:hover,
.question-form__input:focus,
.question-form__input:active {
    outline: 2px solid $peach;
    transition: all 0.3s;
}

.question-form__input:not(output):-moz-ui-invalid {
    box-shadow: none;
}

.question-form__input::placeholder {
    @include font-picture__link;
    color: $artist-name;
}

.question-form__btn {
    @include font-picture__link;
    color: $background-color;
    @include background-btn;

    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;

    text-transform: uppercase;
    border: none;
    border-radius: 3px;

    margin-bottom: 45px;

    &:hover {
        @include hover-link;
    }

    &:active {
        @include active-link;
    }

    &:focus {
        @include focus-link;
    }
}